#root {
  max-width: 1280px;
  heigth: 100vh;
  padding: 2rem;
  text-align: center;
}

form{
  width: 50%;
  margin: 5% auto;
}
form input{
  margin-top: 1rem;
}

form input[type='button']{
  margin-right: 0.7rem;
}